<!DOCTYPE HTML>
<head>
    <a>Edit order {{ id }}</a>
    <br><br><br>
</head>

<body>
{{ form(form) }}
<table>
<tr>
    <td>PizzaId</td>
    <td>Topping</td>
    <td>Cost</td>
    <td>Phone number</td>
</tr>
{% for a in edittopping %}
    <tr>
        <td>{{ a.pizzaid }}</td>
    {% for t in toppingall %}
        {% if  a.toppingid == t.id %}
        <td>{{ t.name }}</td>
        {% endif %}
    {%  endfor %}
        <td>-</td>
        <td>-</td>
        <td><a href="{{ path('editslice', {'id' : a.id}) }}"><input type="submit" value="Edit"></a></td>
    {% endfor %}
        </table>
<a href="{{ path('hello_homepage')}}"><input type="submit" value="Go back"></a>
</body>