<!DOCTYPE HTML>
<head>
    <a>Edit Slice {{ id }}</a>
</head>

<body>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Cost</td>
        <td>Pizzeria</td>
        <td>Ingredient</td>
    </tr>
    <tr>
        {% for t in toppingparametr %}
        <td>{{ t.id }}</td>
        <td>{{ t.name }}</td>
        <td>{{ t.cost }}</td>
        <td>{{ t.pizzeria }}</td>
        {% for i in ingredientsparameter %}
        {% if i.toppingId == t.id %}
        <td>{{ i.name }},</td>
        {% endif %}
    {% endfor %}
        <td></td>
        <td><td><a href="{{ path('updateslices', {'ident' : id, 'toppid' : t.id}) }}"><input type="submit" value="update"></a></td></td>
            </tr>
    {% endfor %}
    </table>
<a href="{{ path('editorder', {'id' : foo}) }}"><input type="submit" value="Go back"></a>
</body>