<!DOCTYPE HTML>
<head>
    <title>Pizzasymfony</title>
</head>
<body>
Adding new order:
{{ form(form) }}
<table>
{% for a in neworders %}
    <tr>
    <td>{{ a.id }}</td>
    <td>{{ a.name }}</td>
        <td>{{ a.date|date('F j, Y, g:i') }}</td>
        <td><a href="{{ path('editorder', {'id' : a.id}) }}"><input type="submit" value="Edit"></a></td>
        <td><a href="{{ path('hello_homepage2', {'id' : a.id}) }}"><input type="submit" value="Delete"></a></td>
    </tr>
{% endfor %}
    <br>
    </table>
</body>
